.burger {
  position: relative;
  z-index: 2;
  display: none;
  width: 23px;
  height: 23px;
  cursor: pointer;

  @include max(640) {
    display: block;
  }
  &.active {
    .burger-btn--base {
      opacity: 0;
    }
    .burger-btn--active {
      opacity: 1;
    }
  }
}

.burger-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: opacity .5s;
  svg {
    fill: #fff;
  }
}

.burger-btn--base {
  width: 22px;
  height: 18px;
  svg {
    width: 22px;
    height: 18px;
  }
}

.burger-btn--active {
  width: 23px;
  height: 23px;
  opacity: 0;
  svg {
    width: 23px;
    height: 23px;
  }
}
