.logo {
  z-index: 3;
  display: inline-block;
  margin-bottom: 30px;

  img {
    display: block;
    width: 219px;
    height: 76px;

    @include max(1024) {
      width: 160px;
      height: 56px;
    }
    @include max(740) {
      width: 120px;
      height: 42px;
    }
  }
}

.logo-text {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
