.pagination {
  display: flex;
  justify-content: center;
  padding: 34px 0 80px 0;
  text-align: center;

  @include max(640) {
    padding: 20px 0 50px 0;
  }
}

.pagination__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination__item {
  margin: 0 5px;
  list-style: none;
  &:nth-child(n+8) {
    @include max(425) {
      display: none;
    }
  }
}

.pagination__link {
  font-size: 21px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 46px;
  height: 46px;
  transition: all .5s;
  text-align: center;
  text-decoration: none;
  letter-spacing: -1.4px;
  color: #fff;
  border-radius: 4px;
  background-color: #83b2e0;

  @include max(640) {
    font-size: 14px;
    width: 26px;
    height: 26px;
  }

  &.active,
  &:hover {
    text-decoration: none;
    background-color: #1976d2;
  }
  &.active {
    pointer-events: none;
  }
}
