.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: .8;
  background-color: #bbdefb;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  overflow: auto;
  width: 90%;
  max-width: 624px;
  max-height: 95vh;
  padding: 40px 56px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .09);

  @include max(640) {
    padding: 20px 30px;
  }
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 32px;
  right: 32px;
  cursor: pointer;
  transition: transform .5s;
  opacity: .54;

  will-change: transform;
  @include max(640) {
    top: 15px;
    right: 15px;
  }
  &:hover {
    transform: rotate(360deg);
  }
  svg {
    fill: #212121;
    width: 16px;
    height: 16px;
  }
}

.popup__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 17px;
  color: #212121;

  @include max(640) {
    font-size: 35px;
    line-height: 1.2;
  }
  @include max(425) {
    font-size: 28px;
  }
}

.popup__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 45px;
  opacity: .7;
  color: #212121;

  @include max(640) {
    margin-bottom: 30px;
  }
}

.popup__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  height: 40px;
  margin-bottom: 25px;
  padding-left: 0;
  opacity: .7;
  color: #212121;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #212121;
  border-left: none;
  background-color: transparent;

  @include placeholder-color(#212121);
}

.popup__body {
  width: 100%;
  .btn {
    min-width: 130px;
    margin-top: 31px;
    margin-bottom: 10px;

    @include max(640) {
      margin-top: 10px;
    }
    @include max(425) {
      font-size: 14px;
      line-height: 40px;
      height: 40px;
      padding: 0 20px;
    }
  }
}

.popup--result {
  padding: 50px 30px;
  text-align: center;
  .popup__subtitle {
    margin-bottom: 0;
  }
}
