.preloader-wrap {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  background-color: #2196f3;
  svg {
    fill: #fff;
    width: 130px;
    height: 130px;
  }
}

.preloader {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 16px;
    height: 130px;
    margin: auto;
    content: '';
    animation: preloader 8s infinite steps(1);
    border-radius: 5px;
    background-image: linear-gradient(#ffc107 0%, #ffc107 50%, transparent 51%, transparent 100%);
  }
  .circle {
    fill: #ffc107;
  }
  .path-01 {
    animation: path-01 8s infinite steps(1);
  }
  .path-02 {
    animation: path-02 8s infinite steps(1);
  }
  .path-03 {
    animation: path-03 8s infinite steps(1);
  }
  .path-04 {
    animation: path-04 8s infinite steps(1);
  }
  .path-05 {
    animation: path-05 8s infinite steps(1);
  }
  .path-06 {
    animation: path-06 8s infinite steps(1);
  }
  .path-07 {
    animation: path-07 8s infinite steps(1);
  }
  .path-08 {
    animation: path-08 8s infinite steps(1);
  }
}

@keyframes preloader {
  0% {
    transform: rotate(0);
  }
  12.5% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-01 {
  0% {
    fill: #ffc107;
  }
  12.5% {
    fill: #fff;
  }
  87.5% {
    fill: #ffc107;
  }
}

@keyframes path-02 {
  0% {
    fill: #ffc107;
  }
  25% {
    fill: #fff;
  }
}

@keyframes path-03 {
  12.5% {
    fill: #ffc107;
  }
  37.5% {
    fill: #fff;
  }
}

@keyframes path-04 {
  25% {
    fill: #ffc107;
  }
  50% {
    fill: #fff;
  }
}

@keyframes path-05 {
  37.5% {
    fill: #ffc107;
  }
  62.5% {
    fill: #fff;
  }
}

@keyframes path-06 {
  50% {
    fill: #ffc107;
  }
  75% {
    fill: #fff;
  }
}

@keyframes path-07 {
  62.5% {
    fill: #ffc107;
  }
  87.5% {
    fill: #fff;
  }
}

@keyframes path-08 {
  75% {
    fill: #ffc107;
  }
  100% {
    fill: #fff;
  }
}
