.article-top {
  position: relative;
  z-index: 2;
  padding-top: 82px;
  padding-bottom: 50px;
  background-image: linear-gradient(270deg, #0d47a1 0%, #1976d2 51%, #0d47a1 100%);

  @include max(740) {
    padding-top: 43px;
  }
}

.article-top__subtitle {
  font-size: 16px;
  font-weight: 400;
  max-width: 700px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #bbdefb;

  @include max(767) {
    font-size: 14px;
    line-height: 17px;
  }
}

.article-top__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  max-width: 700px;
  margin-bottom: 0;
  color: #fff;

  @include max(1024) {
    font-size: 33px;
    line-height: 1.2;
    padding-right: 50px;
  }
  @include max(767) {
    font-size: 24px;
  }
}

.article-top__all-articles {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  position: fixed;
  z-index: 1;
  right: 20px;
  display: block;
  text-transform: uppercase;

  @include max(767) {
    font-size: 14px;
    line-height: 17px;
  }
  @include max(740) {
    right: 15px;
  }
  @include max(425) {
    right: 10px;
  }

  svg {
    fill: #92cfff;
    width: 13px;
    height: 93px;
    transition: fill .5s;
  }
  &:hover {
    svg {
      fill: $highlight-y;
    }
  }
}
