//begin about
.about
  .container
    .about-hashtag
      img(src="assets/img/about.png" alt="picture")
    //begin about__left
    .about__left
      h2.about__title О компании
      p Мы рекрутинговая компания «Тайм Ту Акт»‎, работающая официально и имеем лицензию на право трудоустройство граждан Украины за рубежом.
      p Всегда качественно и в оптимальные сроки, решаем вопросы трудоустройства, а так же вопросы, возникающие в дальнейшем сопровождении!
      .about__link
        a(href="#") Наша регистрация
        +svg('arr-next')
      .about__link
        a(href="#") Наша лицензия от министерства социальной политики Украины №-660
        +svg('arr-next')
    //end about__left

    //begin about__right
    .about__right
      .about__license
        img(src="assets/img/license-01.jpg" alt="picture")
    //end about__right

    //begin about__bottom
    .about__bottom
      .about__bottom-item
        span.about__bottom-number 5+
        span.about__bottom-text Лет работы
      .about__bottom-item
        span.about__bottom-number 6711
        span.about__bottom-text Довольных клиентов
      .about__bottom-item
        span.about__bottom-number 45
        span.about__bottom-text Компаний в европе
      .about__bottom-item
        span.about__bottom-number 100%
        span.about__bottom-text Гарантия результата
    //end about__bottom
//end about
