//begin article-top
.article-top#article-top
  .container
    include top-row

    h3.article-top__subtitle Важная информация
    h2.article-top__title Получение вида на жительство в словакии путем оформления чп или фирмы
    a(href="#").article-top__all-articles#article-top__all-articles
      +svg('all-articles')
//end article-top