//begin article-top
.article-top#article-top
  .container
    include top-row

    h3.article-top__subtitle Важная информация
    h2.article-top__title Получение вида на жительство в словакии путем оформления чп или фирмы
    a(href="#").article-top__all-articles#article-top__all-articles
      +svg('all-articles')
    //-.article-top__all-articles-red
      span Все статьи
    //-.article-top__all-articles-blue
      span Все статьи
    //-.article-top__all-articles-red-monst
      span Все статьи
    //-.article-top__all-articles-blue-monst
      span Все статьи
//end article-top