//begin article-top
.article-top
  .container
    .article-top__row
      include ../elements/logo
      include ../elements/menu
      include ../elements/language
      include ../elements/burger

    h3.article-top__subtitle Важная информация
    h2.article-top__title Получение вида на жительство в словакии путем оформления чп или фирмы
    a(href="#").article-top__all-articles Все статьи
//end article-top