//begin articles-top
.articles-top
  .container
    include top-row

    .articles-top__descr
      h2.articles-top__title Статьи
      p Мы всегда держим руку на пульсе и в курсе всех изменений ситуации, на рынке трудоустройства за границей.
      p Чем с радостью делимся с Вами, в наших статьях!
      .articles-top__decor
//end articles-top