//begin contacts-top
.contacts-top
  .container
    include top-row

    .contacts-top__descr
      h2.contacts-top__title Контакты
      .contacts-top__text
        span Мы всегда на связи, чтобы помочь Вам выбрать идеальную работу за границей, в кратчайшие сроки.
//end contacts-top