//begin header
header.header#header
  .container
    .header-inn
      .header-inn__left
        .header__arrow#header__arrow
          .header__arrow-btn
        .header__phone-svg
          +svg('phone')
        a(href="tel:+380995552020").header__phone +38 099 555 20 20
      .header-inn__right#header-inn__right
        a(href="tel:+380985552020").header__phone +38 098 555 20 20
        a(href="tel:+380735552020").header__phone +38 073 555 20 20
        button.btn.btn--white.header-btn
          span Обратный звонок
//end header
