//begin services-top
.services-top
  .container
    include top-row

    .services-top__descr
      h2.services-top__title Услуги
      .services-top__text
        span Наша команда поможет вам в кратчайшие сроки найти достойную работу за границей: в Литве, Польше, Германии. Поможем с оформлением любых документов.
//end services-top