//begin vacancy-top
.vacancy-top#vacancy-top
  .container
    include top-row

    h3.vacancy-top__subtitle Вакансии
    h2.vacancy-top__title
      |Работники контроля
      br
      |качества запчастей на автозаводе
    a(href="#").vacancy-top__all-vacancy#vacancy-top__all-vacancy
      +svg('all-vacancy')
//end vacancy-top