//begin why-we
.why-we
  .container
    .why-we-hashtag
      img(src="assets/img/why-we.png" alt="picture")
    //begin why-we__left
    .why-we__left
      h2.why-we__title
        |Почему
        br
        |работают с нами?
      //begin why-we__item
      .why-we__item.why-we__item--01
        +svg('why-we-01')
        h3.why-we__item-title Легальность
        p Мы, официальная копания, имеющая многолетний опыт и лицензию на трудоустройство граждан за рубежом. Трудоустраиваем легально, с полным официальным оформлением, на основании договоров.
      //end why-we__item

      //begin why-we__item
      .why-we__item.why-we__item--02
        +svg('why-we-02')
        h3.why-we__item-title Оперативность
        p Максимально быстро, в кратчайшие сроки, бесплатно, подберём подходящие, индивидуально для Вас вакансии.
      //end why-we__item


    //end why-we__left

    //begin why-we__right
    .why-we__right
      //begin why-we__item
      .why-we__item.why-we__item--03
        +svg('why-we-03')
        h3.why-we__item-title Безопасность
        p Мы обеспечиваем полное сопровождение, от индивидуального  подбора  вакансий, до выхода на работу за границей.
      //end why-we__item

      //begin why-we__item
      .why-we__item.why-we__item--04
        +svg('why-we-04')
        h3.why-we__item-title Большой выбор
        p Предлагаем только актуальные вакансии от крупных европейских партнеров с отличной репутацией, европейской оплатой труда и хорошими условиями.
      //end why-we__item

      a(href="#").btn.btn--highlight
        span Посмотреть вакансии
    //end why-we__right
//end why-we
