//begin language
.language#language
  ul.language__list
    li.language__item.active
      a(href="#").language__link ru
    li.language__item
      a(href="#").language__link ua
    li.language__item
      a(href="#").language__link eng
  .language__btn
//end language