//begin language
.language
  ul.language__list
    li.language__item.active
      span.language__link ru
    li.language__item
      span.language__link ua
    li.language__item
      span.language__link eng
  .language__btn
//end language