//begin menu
nav.menu#menu
  ul.menu__list
    li.menu__item
      a(href="#" data-popup='popup-callback-result').menu__link.popup-open Главная
    li.menu__item
      a(href="#" data-popup='popup-feedback').menu__link.popup-open Вакансии
    li.menu__item
      a(href="#" data-popup='popup-feedback-result').menu__link.popup-open Услуги
    li.menu__item
      a(href="#" data-popup='popup-vacancy').menu__link.active.popup-open Статьи
    li.menu__item
      a(href="#" data-popup='popup-vacancy-result').menu__link.popup-open Контакты

  button(data-popup='popup-callback').btn.btn--white.menu-btn.popup-open
    span Обратный звонок

  //begin menu-socials
  .menu-socials
    a(href="#" target="_blank" rel="nofollow noopener noreferrer").menu-social.menu-social--fb
      +svg('fb')
    a(href="#" target="_blank" rel="nofollow noopener noreferrer").menu-social.menu-social--youtube
      +svg('youtube')
    a(href="#" target="_blank" rel="nofollow noopener noreferrer").menu-social.menu-social--inst
      +svg('inst')
    a(href="#" target="_blank" rel="nofollow noopener noreferrer").menu-social.menu-social--in
      +svg('in')
  //end menu-socials

//end menu