.preloader-wrap#preloader-wrap
  .preloader
    svg(viewBox='0 0 270.93 272')
      path.path-01(d='M70.94,54.5a103.44,103.44,0,0,1,52.52-21.8V.54A135.35,135.35,0,0,0,48.21,31.77Z')
      path.path-02(d='M147.46.54V32.7A103.47,103.47,0,0,1,200,54.5l22.73-22.73A135.35,135.35,0,0,0,147.46.54Z')
      path.path-03(d='M217,71.47A103.52,103.52,0,0,1,238.77,124h32.16a135.32,135.32,0,0,0-31.24-75.26Z')
      path.path-04(d='M238.77,148A103.52,103.52,0,0,1,217,200.53l22.73,22.73A135.32,135.32,0,0,0,270.93,148Z')
      path.path-05(d='M200,217.5a103.47,103.47,0,0,1-52.53,21.8v32.16a135.35,135.35,0,0,0,75.26-31.23Z')
      path.path-06(d='M123.46,239.3a103.44,103.44,0,0,1-52.52-21.8L48.21,240.23a135.35,135.35,0,0,0,75.25,31.23Z')
      path.path-07(d='M54,200.53A103.51,103.51,0,0,1,32.16,148H0a135.32,135.32,0,0,0,31.24,75.26Z')
      path.path-08(d='M32.16,124A103.51,103.51,0,0,1,54,71.47L31.24,48.74A135.32,135.32,0,0,0,0,124Z')
      circle.circle(cx='135.46', cy='136', r='32')