// ***** main colors *******
$brand: #00407a;
$dark: #212121;
$light: #eee;

$highlight-y: #ffc107;
$highlight-r: #ff008c;

// ***** text colors *******
$text: #212121;
$link: #ffc107;

// ===== fonts =====
$font: 'Roboto', sans-serif;
