extends ../_template

block variables
  - var title       = 'Time to act'
  - var description = 'Time to act'
  - var ogtitle     = 'Time to act'
  - var ogimage     = 'assets/img/social.jpg'

block content
  #main-wrap.main-wrap
    include ../sections/header

    //begin content
    .main.main-index
      include ../sections/index-top
      include ../sections/why-we

      .main-index__bg-wrap
        include ../sections/about
        include ../sections/index-reviews
    //end content

    include ../sections/footer

  include ../elements/preloader
  include ../elements/popup
  include ../sections/scripts
  script.
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
