extends ../_template

block variables
  - var title       = 'Time to act'
  - var description = 'Time to act'
  - var ogtitle     = 'Time to act'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.index
    include ../sections/header
    //begin content
    section.main

    //end content
    include ../sections/footer
