extends ../_template

block variables
  - var title       = 'Time to act'
  - var description = 'Time to act'
  - var ogtitle     = 'Time to act'
  - var ogimage     = 'assets/img/social.jpg'

block content
  #main-wrap.main-wrap
    include ../sections/header

    //begin content
    .main.main-index
    //end content

    include ../sections/footer
