.services {
  .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 80px;

    @include max(1024) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.services__aside-title {
  flex: none;
  width: 34px;
  margin-right: auto;

  @include max(1024) {
    position: absolute;
    top: 80px;
    left: 10px;
  }
  @include max(767) {
    display: none;
  }

  img {
    display: block;
    width: 100%;
  }
}

.services__left {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;

  @include max(1024) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
  }
}

.services__item {
  margin-bottom: 64px;
  padding: 30px 30px 0 30px;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .09);

  @include max(1024) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 16px);
    margin-bottom: 32px;
  }
  @include max(640) {
    width: 100%;
  }
}

.services__item-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 33px;
  text-align: left;
  color: #212121;

  @include max(767) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.services__item-price {
  display: inline-block;
  padding: 7px 16px 7px 16px;
  text-align: center;
  background-color: $highlight-r;

  @include max(1024) {
    margin-top: auto;
  }
  span {
    font-size: 27px;
    font-weight: 700;
    color: #fff;

    @include max(767) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.services__right {
  width: 100%;
  max-width: 400px;
  margin-left: 64px;

  @include max(1024) {
    max-width: 100%;
    margin-left: 0;
  }
}

//begin sevices form
.services__form {
  margin-bottom: 55px;
  padding: 40px;
  border-radius: 4px;
  background-color: #1976d2;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .09);
  .btn {
    margin-top: 30px;

    @include max(425) {
      font-size: 12px;
      line-height: 28px;
      height: 28px;
      padding: 0 12px;
      border-width: 1px;
    }
  }
}

.services__form-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #fff;

  @include max(767) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.services__form-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 45px;
  color: #fff;

  @include max(767) {
    font-size: 14px;
    line-height: 17px;
  }
}

.services__form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 25px;
  color: #fff;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  background-color: transparent;

  @include placeholder-color(#bad6f1);
}

//end sevices form

.services__ahtung {
  margin-bottom: 60px;
  padding: 30px;
  border-radius: 4px;
  background-color: rgba(255, 193, 7, .5);
}

.services__ahtung-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212121;

  @include max(767) {
    font-size: 14px;
    line-height: 17px;
  }
}

.services__promise {
  margin-bottom: 56px;
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    color: rgba(33, 33, 33, .7);

    @include max(767) {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.services__promise-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
  color: #212121;

  @include max(767) {
    font-size: 20px;
    line-height: 1.2;
  }
}
